<p j><p i><p a><p b><p c><p d><p k>
  <style>
    p{position:fixed}
  [a],[b],[c],[d],[k]{
  top:72;
  left:160;
  width:20;
  height:42;
  background:#191919;
  border-radius: 10px;}
    [b]{ 
  top:60;
  left:185;
  height:55;
    }
    [c]{
  top:70;
  left:210;
  height:45;
    }
    [d]{
  top:80;
  left:235;
  height:35;
    }
    [k]{
  top:93;
  height:65;
  transform:rotate(60deg);
  box-shadow:0 0 0 5px #F9E492}
    
    [i],[j]{
    top:122;
    left:155;
    width:100;
    height:41;
    background:#191919;
    border-radius: 0px 0px 10px 10px;
    transform-origin:100% 50%;
    } 
    [j]{top:160;
    left:180;
    width:50;
    height:41;
    background:#191919;
    box-shadow:0 0 0 3in #F9E492;
    }
    
